.heading {
  height: 6.4rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0 3.6rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  position: sticky;
  top: 0;
  z-index: 20;
  background: var(--bg-opaque);

  font-size: var(--text-md);
  font-weight: bold;

  @media (max-width: 768px) {
    padding: 0 1.6rem;
    gap: 0.8rem;
  }

  @media (max-width: 380px) {
    padding: 0 1.0rem;
    gap: 0.4rem;
  }
}

.filter_ios {
  backdrop-filter: blur(4px);
  filter: url(#lensFilter) saturate(140%);
  position: absolute;
  inset: 0;
  z-index: 19;
  pointer-events: none;
}
